<article id="project">
	<header>
		<h2>Sales</h2>
	</header>

	<p>{{activeProject.caption}}</p>

	<img ng-repeat="image in activeProject.images" ng-src="images/{{image.url}}" alt="{{image.alt}}" />
</article>


Theme
Stage
Model
Artifact


sales engagement
	credentialize
		case studies / client stories
		people (famous twers)
		conference, tradeshow
		books, articles, white papers, blogs
	---
	listen and explore
		phone call / meeting
		client deep dive
	visioning workshop
		coach client thorugh their ideas
		possibilities
	guerilla research discovery
		paper prototype
		consumer qualitative data
		customer-driven possibilities
	---
	craft response
		RFP templates
		proposal templates
		generic decks
	solution pitch
		concept prototype
		TW generated and personal ideas
		concept video
		TW-SME oriented
		industry trends / vision

hand off
	SOW
	identified VP

delivery
	Visioning
		prototyping
			prototype
		inception
			backlog
		MVP product vision
			defined MVP
			vision storyboard
		deep dive and exploratory workshops
			ecosystem diagram
			service design artifacts
	Delivery
		rapid innovation
			1. external and internal prioritized ideas
			2. product spikes
			3. Validated product spike
		Engineering Excellence
			1. Backlog
			2. Build Stories
			3. Showcase
		Disruptive Innovation
			1. Defined MVP / Product Vision
			2. Build MVP
			3. Releasable MVP
		Complex Innovation
			1. Defined Ecosystem (service design)
			2. Uses Multiple delivery models
			3. Integrated Eco System
		Agile Transformation
		Opportunity Discovery (should this be here?)

	Evaluation
		Site Analytics
			Quantitative data ROI + Performance
			Big data analysis
			A/B testing
		Client feedback and acceptance
			Client business socialization
			VC funding
			Board presentations
		Field / Real World Lab
			Environmental Testing
			Beta test
			A/B Testing
			Surveys
		End to End ecosystem testing
			Use multiple evaluation models
			Consumer shadow studies
			Service design test
		Organizational ROI / Change

Engagement Transformation
		Launch and Exit
			Client Case study / success story
		Release and Continue
		Vision Pivot
		Exit and re-engage at new lifecycle point
		Delivery Model pivots